main/default/flows/Log_Util_Demo_Apex_CPU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>approval_process</name>
        <label>approval process</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Log</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>approval_process</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>additionalFields</name>
            <value>
                <stringValue>{&quot;pharos__Flow_Version__c&quot;:&quot;3&quot;,&quot;pharos__Flow_API_Name__c&quot;:&quot;Log_Util_Demo_Apex_CPU&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Start Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Start Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Autolaunched Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <interviewLabel>Log Util Demo (Apex CPU) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Util Demo (Apex CPU)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debug</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Log Util Demo (Apex CPU)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
